In [7]:
## regular expression
import re
import numpy as np
import pandas as pd

In [8]:
string1 = "555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"

In [9]:
string1

'555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert'

### Q1. Extract the names of each individual from the unformatted text string and store them in a vector of some sort. When complete, your vector should contain the following entries:
##### Ans. Imported the re library of python. 
##### Solution pattern is [A-Z,\s]+[A-Z. \s]+[A-Z]
##### Broke down the above pattern and explained as below: Alongwith the above pattern ignore case is used so that need not to repeat the matching pattern in small characters and pattern will be easily understood. (In option 2 i have used the long pattern and then ignore case is not required) 
##### 1.  [A-Z,\s] -It will find the the strings from A to Z, find the comma, and find the whitespaces for the first block.
##### 2. [A-Z. \s] -  It will find the strings from A to Z and then will find the dot, and find the whitespaces for the second block.
##### 3. [A-Z] - Find the strings from A to Z for the last block.

In [10]:
# Option 1 Create the pattern to search the required string
pattern = r'[A-Z,\s]+[A-Z. \s]+[A-Z]'

In [11]:
# search the above defined pattern and ignoring the case of the letter. As pattern is only defined for capital letters
# We can compile the pattern and then use findall option to get the output
# Or we can direclty use findall option. Below are both the solution

compPattern = re.compile(pattern, flags=re.IGNORECASE)
names1 = compPattern.findall(string1)
names = re.findall(pattern,string1,flags=re.IGNORECASE)
print(names, names1)

['Moe Szyslak', 'Burns, C. Montgomery', 'Rev. Timothy Lovejoy', 'Ned Flanders', 'Simpson, Homer', 'Dr. Julius Hibbert'] ['Moe Szyslak', 'Burns, C. Montgomery', 'Rev. Timothy Lovejoy', 'Ned Flanders', 'Simpson, Homer', 'Dr. Julius Hibbert']

### Q2. Using your new vector containing only the names of the six individuals, complete the following tasks:
### a. Use your regex skills to rearrange the vector so that all elements conform to the standard “firstname
### lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.
### b. Construct a logical vector indicating whether a character has a title (i.e., Rev. and Dr.).
### c. Construct a logical vector indicating whether a character has a middle/second name.
##### Ans.

##### Set the patterns for Title, firstname, middlename, lastName pattern
##### Title is assumed to be A-Z characters in capital or small letters. Assumption is made that it will be 1 to 3 characters and ending with dot(.)

In [9]:
titlePattern = r"(?:[A-Z][a-z]{1,3}\.\s*)?"
firstNamePattern = r"[A-Z][a-z]+,?\s+"
middleNamePattern = r"(?:[A-Z][a-z]{0,0}\.\s*)?"
lastNamePattern = r"[A-Z][a-z]+"

In [10]:
#strip is used for removing null values / or we can say removing leading or trailing spaces
#filter is to filter the true values
# list to convert the value into list and append all the values in newly created list

In [11]:
data = []
for iname in names:
    data.append(iname) # full name 
    data.append(list(filter(str.strip,re.findall(titlePattern,iname)))) #title
    data.append(list(filter(str.strip,re.findall(firstNamePattern,iname)))) #firstname
    data.append(list(filter(str.strip,re.findall(middleNamePattern,iname)))) #midddle name
    data.append(list(filter(str.strip,re.findall(lastNamePattern,iname)))[-1]) # Last name

In [12]:
## Scanning through each name in loop 
## Checking and printing wheter title exist and also appending the values in new list
## Printing the values of names, title, first name , middle name and last name for verification too.

In [13]:
j=1
datalist= []
for indx in range(len(names)):
    if data[j]:
        print(data[j-1]," has title ", *data[j])   
    else:
        print(data[j-1]," has no title ")
    print("Middle name : ", data [j+2])
    print("Last name : ", data [j+3])
    datalist.append([data[j-1],"".join(data[j]),''.join(data [j+1]),"".join(data [j+2]),"".join(data [j+3])])
    j=j+5

Moe Szyslak  has no title
Middle name :  []
Last name :  Szyslak
Burns, C. Montgomery  has no title
Middle name :  ['C. ']
Last name :  Montgomery
Rev. Timothy Lovejoy  has title  Rev.
Middle name :  []
Last name :  Lovejoy
Ned Flanders  has no title
Middle name :  []
Last name :  Flanders
Simpson, Homer  has no title
Middle name :  []
Last name :  Homer
Dr. Julius Hibbert  has title  Dr.
Middle name :  []
Last name :  Hibbert

In [14]:
# converting the datalist into pandas dataframe with required five columns
# datafame is used so that we can view the data in the columnar fashion and it will be easy to interprete the results. 
df=pd.DataFrame(datalist, columns = ['Name' , 'Title','Firstname', 'MiddleName' , 'LastName'])

##### Condition checked for part A and part b questions and it returns true / false 
##### if we put the below condition as df[(df.Title.str.len() !=0)] , it will return the data and will be easy to verify

In [15]:
df[(df.Title.str.len() !=0)]

                   Name  Title Firstname MiddleName LastName
2  Rev. Timothy Lovejoy  Rev.   Timothy              Lovejoy
5    Dr. Julius Hibbert   Dr.    Julius              Hibbert

In [16]:
## verifying the values of Title
df.Title.str.len() !=0

0    False
1    False
2     True
3    False
4    False
5     True
Name: Title, dtype: bool

In [17]:
#Verifying the values of Middle name
df.MiddleName.str.len()!=0

0    False
1     True
2    False
3    False
4    False
5    False
Name: MiddleName, dtype: bool

In [18]:
# Verifying the values of Last name
df.LastName.str.len()!=0

0    True
1    True
2    True
3    True
4    True
5    True
Name: LastName, dtype: bool

### Q3.  Consider the HTML string . We would like to extract the first HTML tag. To do so we write the regular expression “<.+>”. Explain why this fails and correct the ### expression.
##### Ans dot(.) stands for Any character (except newline character). And + stands for same type of character occuring one or more time. So, .+ means any character existing one or more time. And, <.+> means any character (one or more occurance) between < and >. This way it will give whole stirng as output as it matches to the given criteria. 
##### To correctly find the HTML tag from the string, we need to give condition as <[A-Za-z0-9-]+?> or ^<[A-Za-z]+?>
##### Both the above pattern is able to find the required output

In [12]:
# '.' and + will bring the whole string as return. And will not provide the correct results. 
stringHtml = '<title>+++BREAKING NEWS+++<title>'
re.findall('<.+>', stringHtml)

['<title>+++BREAKING NEWS+++<title>']

In [13]:
# approach 1
re.findall('^<[A-Za-z]+?>', stringHtml)

['<title>']

In [14]:
## approach 2 and 3
re.match('^<[A-Za-z0-9-]+?>', stringHtml).group()
## or use findall
re.findall('^<[A-Za-z0-9-]+?>', stringHtml)

['<title>']

### Q4. Consider the string “(5-3)^2=5^2-2*5*3+3^2” conforms to the binomial theorem. We would like to extract the formula in the string. To do so we write the regular expression “[^0-9=+*()]+”. Explain why this fails and correct the expression.
##### Ans. Here ^ sign works as not operator as it is used inside [ ]. So, it will match character not inside brackets. To explain more, with the given pattern it is looking for the string which should not start with any number, =, brackets etc. So, it matches only the characters which are not given in the not string.
##### Solution pattern is ([^A-Za-z]|\\^)+
##### This pattern looks for string starting with ( and there should not be any alphabets from A-Z in capital or small letter. Above pattern gives us the whole formula and then we replace using translate of string  5 to a and 3 to b. It prints the formula in terms of a and b

In [26]:
# Carrot ^ sign excludes all the values given inside brackets in the pattern and gives only the remaining characters.
# In our case it is - and ^. Let us suppose we include - inside [], then it will not come in results
givenFormula = '(5-3)^2=5^2-2*5*3+3^2'
re.findall('[^0-9=+*()]+', givenFormula)

['-', '^', '^', '-', '^']

In [27]:
# Confirming by putting the values inside bracket. it is behaving as explained above (^ not operator inside [ ])
# excluding - or ^ from output, Need to suppress the meaning of - sign by using \
print(re.findall('[^0-9=+*()\-]+', givenFormula))
print(re.findall('[^0-9=+*()\^]+', givenFormula))

['^', '^', '^']
['-', '-']

In [28]:
print(re.match('([^A-Za-z]|\\^)+', givenFormula).group())
print(re.match('([^A-Za-z]|\\^)+', givenFormula).group().translate(str.maketrans({"5":"a", "3":"b"})))

(5-3)^2=5^2-2*5*3+3^2
(a-b)^2=a^2-2*a*b+b^2